In [85]:
import pandas as pd

df = pd.read_csv(r"D:\google下载\1_training_data.csv", encoding='cp1252',engine = "python")


df.drop(["AIRING_23_FLG", "AIRING_456_FLG",'BESTELL_ID','WGH1_ID','WGH3_ID','WGH4_ID','DIVISION_DESC_SORT','WGH4_DESC','BEWERTUNG','FARBE'],axis=1,inplace=True)

df.head()

,OBS_ID,KANAL,SHOW_ID,SHOW_DATUM,FAKTOR,WORDING_ID,BRAND_FLG,BRAND_ID,WDHL_FLG,ARTIKEL_ID,...,MENGE_CALL,MENGE_ECOM,WG_DESC,WGH1_DESC,WGH3_DESC,PREISKLASSE_DESC,PREIS_LABEL_DESC,GROESSE,MENGE_FREI_SHOWBEGINN,SOLD_OUT_FLG
0,235691,DIG,370117,30.07.2017 19:00:00,1,25802,1,12.0,1,399879002,...,NaN,0.0,Poncho,Accessoire,WGH-Stufe Marken National,"04 - 40 bis 49,99",NaN,NaN,7,1
1,235692,DIG,372896,04.08.2017 09:00:00,1,34013,0,NaN,0,399890002,...,8.0,NaN,Langarmshirt,Shirts,WGH-Stufe Marken National,"05 - 50 bis 74,99",NaN,36,8,1
2,235693,DIG,372896,04.08.2017 09:00:00,1,34013,0,NaN,0,399890003,...,21.0,0.0,Langarmshirt,Shirts,WGH-Stufe Marken National,"05 - 50 bis 74,99",NaN,38,23,1
3,235694,DIG,372896,04.08.2017 09:00:00,1,34013,0,NaN,0,399890004,...,16.0,0.0,Langarmshirt,Shirts,WGH-Stufe Marken National,"05 - 50 bis 74,99",NaN,40,39,0
4,235695,DIG,372896,04.08.2017 09:00:00,1,34013,0,NaN,0,399890005,...,13.0,9.0,Langarmshirt,Shirts,WGH-Stufe Marken National,"05 - 50 bis 74,99",NaN,42,44,0

In [86]:
df['SHOW_DATUM']=pd.to_datetime(df['SHOW_DATUM'])
df['DAY_OF_WEEK'] = df['SHOW_DATUM'].dt.day_name()
df["DAY_OF_WEEK"] = df["DAY_OF_WEEK"].astype('category')
df["DAY_OF_WEEK"] = df["DAY_OF_WEEK"].cat.codes



df['SHOW_DATUM']=pd.to_datetime(df['SHOW_DATUM'])
df['DAY_OF_WEEK'] = df['SHOW_DATUM'].dt.day_name()
df['Hour_of_the_day'] = df['SHOW_DATUM'].dt.hour
df.Hour_of_the_day
df.drop('SHOW_DATUM', axis = 1, inplace = True)
df.DAY_OF_WEEK.replace("Sunday", 0, inplace = True)
df.DAY_OF_WEEK.replace("Monday", 1, inplace = True)
df.DAY_OF_WEEK.replace("Tuesday", 2, inplace = True)
df.DAY_OF_WEEK.replace("Wednesday", 3, inplace = True)
df.DAY_OF_WEEK.replace("Thursday", 4, inplace = True)
df.DAY_OF_WEEK.replace("Friday", 5, inplace = True)
df.DAY_OF_WEEK.replace("Saturday", 6, inplace = True)
df.DAY_OF_WEEK.unique()
df.DAY_OF_WEEK.astype('category', inplace = True)
def from_hour_to_time_slot(x):
    if 7 <= x < 9:
        return "MORNING TIME"
    elif 9 <= x <17:
        return "DAYTIME"
    elif 17 <= x < 20:
        return "EARLY PRIME TIME"
    elif 20 <= x < 23:
        return "PRIME TIME"
    elif 1 <= x < 7:
        return "LATE NIGHT"
    else:
        return "LATE PRIME TIME"

df.Hour_of_the_day = df.Hour_of_the_day.map(from_hour_to_time_slot)
df.Hour_of_the_day.unique()
df.Hour_of_the_day.replace("MORNING TIME", 0, inplace = True)
df.Hour_of_the_day.replace("DAYTIME", 1, inplace = True)
df.Hour_of_the_day.replace("EARLY PRIME TIME", 2, inplace = True)
df.Hour_of_the_day.replace("PRIME TIME", 3, inplace = True)
df.Hour_of_the_day.replace("LATE PRIME TIME", 4, inplace = True)
df.Hour_of_the_day.replace("LATE NIGHT", 5, inplace = True)
df.Hour_of_the_day.astype('category', inplace = True)

0       2
1       1
2       1
3       1
4       1
5       1
6       1
7       1
8       1
9       1
10      1
11      4
12      4
13      4
14      4
15      4
16      4
17      4
18      4
19      4
20      4
21      4
22      4
23      4
24      4
25      4
26      4
27      4
28      4
29      4
       ..
6632    1
6633    1
6634    1
6635    1
6636    1
6637    3
6638    3
6639    3
6640    3
6641    3
6642    3
6643    3
6644    3
6645    3
6646    3
6647    3
6648    3
6649    3
6650    3
6651    3
6652    3
6653    3
6654    3
6655    3
6656    3
6657    3
6658    3
6659    3
6660    3
6661    3
Name: Hour_of_the_day, Length: 6662, dtype: category
Categories (6, int64): [0, 1, 2, 3, 4, 5]

In [87]:

df['PREISKLASSE_DESC']=df['PREISKLASSE_DESC'].str[:2]

df['PREISKLASSE_DESC']=df['PREISKLASSE_DESC'].convert_objects(convert_numeric=True)

D:\anaconda\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use Series.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  after removing the cwd from sys.path.

In [88]:
df["FAKTOR"] = df["FAKTOR"].str.replace(',', ".").astype(float)

In [89]:
df['BRAND_ID'].fillna(0,inplace=True)

In [90]:
df.BRAND_FLG = df.WORDING_ID.astype("category")
df.BRAND_ID = df.WORDING_ID.astype("category")
df.WDHL_FLG = df.WORDING_ID.astype("category")
df.NEW_ITEM_FLG = df.NEW_ITEM_FLG.astype("category")
df.ADT_FLG = df.ADT_FLG.astype("category")
df.WGH1_DESC = df.WGH1_DESC.astype("category")

In [91]:

df["PREIS_LABEL_DESC"] = df["PREIS_LABEL_DESC"].astype('category')
df["PREIS_LABEL_DESC"] = df["PREIS_LABEL_DESC"].cat.code
df["WG_DESC"] = df["WG_DESC"].astype('category')
df["WG_DESC"] = df["WG_DESC"].cat.codes
df["WGH1_DESC"] = df["WGH1_DESC"].astype('category')
df["WGH1_DESC"] = df["WGH1_DESC"].cat.codes
df["GROESSE"] = df["GROESSE"].astype('category')
df["GROESSE"] = df["GROESSE"].cat.codes

[0, 11, 6, 9, 5, ..., 10, 14, 8, 3, 4]
Length: 16
Categories (16, int64): [0, 11, 6, 9, ..., 14, 8, 3, 4]

In [83]:

def trans_wgh(x):
    if x =="Accessoire":
        return 0
    elif x == "Shirts":
        return 1
    elif x == "Jacken":
        return 2
    elif x == "Outdoor Jacken":
        return 3
    elif x == "Hosen":
        return 4
    elif x == "Strickware":
        return 5
    elif x == "Blusen":
        return 6
    elif x == "Westen":
        return 7
    elif x == "Kleider":
        return 8
    elif x == "Shirtware":
        return 9
    elif x == "Blazer":
        return 10
    elif x == "Röcke":
        return 11
    elif x == "Sweatware":
        return 12
    elif x == "Mäntel":
        return 13
    elif x == "Fleece-Ware":
        return 14
    elif x == "Homewear":
        return 15

df.WGH1_DESC = df.WGH1_DESC.map(trans_wgh)
df.WGH1_DESC = df.WGH1_DESC.astype("category")

In [95]:
df.SOLD_OUT_FLG = df.SOLD_OUT_FLG.astype("category")

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6662 entries, 0 to 6661
Data columns (total 28 columns):
OBS_ID                   6662 non-null int64
KANAL                    6662 non-null object
SHOW_ID                  6662 non-null int64
FAKTOR                   6662 non-null float64
WORDING_ID               6662 non-null category
BRAND_FLG                6662 non-null category
BRAND_ID                 6662 non-null category
WDHL_FLG                 6662 non-null category
ARTIKEL_ID               6662 non-null int64
SHOW_POSITION            6662 non-null int64
NEW_ITEM_FLG             6662 non-null category
ADT_FLG                  6662 non-null category
WG_ID                    6662 non-null int64
PREIS_DISCOUNT           3640 non-null object
ANZ_ARTIKEL_ID           6662 non-null int64
ONAIR_SEKUNDEN           6662 non-null int64
MENGE_CALL               5310 non-null float64
MENGE_ECOM               5739 non-null float64
WG_DESC                  6662 non-null int8
WGH1_DESC                6662 non-null category
WGH3_DESC                6662 non-null object
PREISKLASSE_DESC         6662 non-null int64
PREIS_LABEL_DESC         6662 non-null int8
GROESSE                  6662 non-null int8
MENGE_FREI_SHOWBEGINN    6662 non-null int64
SOLD_OUT_FLG             6662 non-null category
DAY_OF_WEEK              6662 non-null int64
Hour_of_the_day          6662 non-null int64
dtypes: category(8), float64(3), int64(11), int8(3), object(3)
memory usage: 1007.8+ KB

In [84]:
df.head()

,OBS_ID,KANAL,SHOW_ID,FAKTOR,WORDING_ID,BRAND_FLG,BRAND_ID,WDHL_FLG,ARTIKEL_ID,SHOW_POSITION,...,WG_DESC,WGH1_DESC,WGH3_DESC,PREISKLASSE_DESC,PREIS_LABEL_DESC,GROESSE,MENGE_FREI_SHOWBEGINN,SOLD_OUT_FLG,DAY_OF_WEEK,Hour_of_the_day
0,235691,DIG,370117,1.0,25802,25802,25802,25802,399879002,20,...,26,None,WGH-Stufe Marken National,4,-1,-1,7,1,0,2
1,235692,DIG,372896,1.0,34013,34013,34013,34013,399890002,2,...,19,None,WGH-Stufe Marken National,5,-1,23,8,1,6,1
2,235693,DIG,372896,1.0,34013,34013,34013,34013,399890003,2,...,19,None,WGH-Stufe Marken National,5,-1,25,23,1,6,1
3,235694,DIG,372896,1.0,34013,34013,34013,34013,399890004,2,...,19,None,WGH-Stufe Marken National,5,-1,27,39,0,6,1
4,235695,DIG,372896,1.0,34013,34013,34013,34013,399890005,2,...,19,None,WGH-Stufe Marken National,5,-1,29,44,0,6,1

In [13]:
list(df.columns.values)

['OBS_ID',
 'SHOW_ID',
 'FAKTOR',
 'WORDING_ID',
 'BRAND_FLG',
 'BRAND_ID',
 'WDHL_FLG',
 'ARTIKEL_ID',
 'SHOW_POSITION',
 'NEW_ITEM_FLG',
 'ADT_FLG',
 'WG_ID',
 'PREIS_DISCOUNT',
 'ANZ_ARTIKEL_ID',
 'ONAIR_SEKUNDEN',
 'WG_DESC',
 'WGH1_DESC',
 'WGH3_DESC',
 'PREISKLASSE_DESC',
 'PREIS_LABEL_DESC',
 'GROESSE',
 'MENGE_FREI_SHOWBEGINN',
 'SOLD_OUT_FLG']

In [97]:
training = df[['DAY_OF_WEEK','Hour_of_the_day',
 'FAKTOR',
 'BRAND_FLG',
 'WDHL_FLG',
 'SHOW_POSITION',
 'NEW_ITEM_FLG',
 'ADT_FLG',
 'ANZ_ARTIKEL_ID',
 'ONAIR_SEKUNDEN',
 'WGH1_DESC',
 'PREISKLASSE_DESC',
 'MENGE_FREI_SHOWBEGINN',
 "SOLD_OUT_FLG"]]

In [99]:
training.DAY_OF_WEEK =training.DAY_OF_WEEK.astype("category")
training.Hour_of_the_day =training.Hour_of_the_day.astype("category")
training.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6662 entries, 0 to 6661
Data columns (total 14 columns):
DAY_OF_WEEK              6662 non-null category
Hour_of_the_day          6662 non-null category
FAKTOR                   6662 non-null float64
BRAND_FLG                6662 non-null category
WDHL_FLG                 6662 non-null category
SHOW_POSITION            6662 non-null int64
NEW_ITEM_FLG             6662 non-null category
ADT_FLG                  6662 non-null category
ANZ_ARTIKEL_ID           6662 non-null int64
ONAIR_SEKUNDEN           6662 non-null int64
WGH1_DESC                6662 non-null category
PREISKLASSE_DESC         6662 non-null int64
MENGE_FREI_SHOWBEGINN    6662 non-null int64
SOLD_OUT_FLG             6662 non-null category
dtypes: category(8), float64(1), int64(5)
memory usage: 391.2 KB

D:\anaconda\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [101]:
training.head()

,DAY_OF_WEEK,Hour_of_the_day,FAKTOR,BRAND_FLG,WDHL_FLG,SHOW_POSITION,NEW_ITEM_FLG,ADT_FLG,ANZ_ARTIKEL_ID,ONAIR_SEKUNDEN,WGH1_DESC,PREISKLASSE_DESC,MENGE_FREI_SHOWBEGINN,SOLD_OUT_FLG
0,0,2,1.0,25802,25802,20,0,0,235,0,0,4,7,1
1,6,1,1.0,34013,34013,2,1,0,102,24,11,5,8,1
2,6,1,1.0,34013,34013,2,1,0,102,64,11,5,23,1
3,6,1,1.0,34013,34013,2,1,0,102,46,11,5,39,0
4,6,1,1.0,34013,34013,2,1,0,102,37,11,5,44,0

D:\anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

D:\anaconda\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use Series.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  after removing the cwd from sys.path.
D:\anaconda\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

D:\anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [44]:
training.WGH1_DESC.unique()

array(['Accessoire', 'Shirts', 'Jacken', 'Outdoor Jacken', 'Hosen',
       'Strickware', 'Blusen', 'Westen', 'Kleider', 'Shirtware', 'Blazer',
       'Röcke', 'Sweatware', 'Mäntel', 'Fleece-Ware', 'Homewear'],
      dtype=object)

D:\anaconda\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

D:\anaconda\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [107]:
test = pd.read_csv(r'D:\google下载\2_classification_data.csv', encoding='cp1252', engine = "python")

In [108]:
test['SHOW_DATUM']=pd.to_datetime(test['SHOW_DATUM'])
test['DAY_OF_WEEK'] = test['SHOW_DATUM'].dt.day_name()
test["DAY_OF_WEEK"] = test["DAY_OF_WEEK"].astype('category')
test["DAY_OF_WEEK"] = test["DAY_OF_WEEK"].cat.codes



test['SHOW_DATUM']=pd.to_datetime(test['SHOW_DATUM'])
test['DAY_OF_WEEK'] = test['SHOW_DATUM'].dt.day_name()
test['Hour_of_the_day'] = test['SHOW_DATUM'].dt.hour
test.Hour_of_the_day
test.drop('SHOW_DATUM', axis = 1, inplace = True)
test.DAY_OF_WEEK.replace("Sunday", 0, inplace = True)
test.DAY_OF_WEEK.replace("Monday", 1, inplace = True)
test.DAY_OF_WEEK.replace("Tuesday", 2, inplace = True)
test.DAY_OF_WEEK.replace("Wednesday", 3, inplace = True)
test.DAY_OF_WEEK.replace("Thursday", 4, inplace = True)
test.DAY_OF_WEEK.replace("Friday", 5, inplace = True)
test.DAY_OF_WEEK.replace("Saturday", 6, inplace = True)
test.DAY_OF_WEEK.unique()
test.DAY_OF_WEEK.astype('category', inplace = True)
def from_hour_to_time_slot(x):
    if 7 <= x < 9:
        return "MORNING TIME"
    elif 9 <= x <17:
        return "DAYTIME"
    elif 17 <= x < 20:
        return "EARLY PRIME TIME"
    elif 20 <= x < 23:
        return "PRIME TIME"
    elif 1 <= x < 7:
        return "LATE NIGHT"
    else:
        return "LATE PRIME TIME"

test.Hour_of_the_day = test.Hour_of_the_day.map(from_hour_to_time_slot)
test.Hour_of_the_day.unique()
test.Hour_of_the_day.replace("MORNING TIME", 0, inplace = True)
test.Hour_of_the_day.replace("DAYTIME", 1, inplace = True)
test.Hour_of_the_day.replace("EARLY PRIME TIME", 2, inplace = True)
test.Hour_of_the_day.replace("PRIME TIME", 3, inplace = True)
test.Hour_of_the_day.replace("LATE PRIME TIME", 4, inplace = True)
test.Hour_of_the_day.replace("LATE NIGHT", 5, inplace = True)
test.Hour_of_the_day.astype('category', inplace = True)

0       1
1       4
2       4
3       4
4       4
5       4
6       4
7       4
8       4
9       4
10      4
11      4
12      4
13      4
14      4
15      4
16      4
17      4
18      4
19      0
20      0
21      1
22      1
23      1
24      1
25      1
26      1
27      1
28      1
29      1
       ..
973     3
974     0
975     0
976     0
977     0
978     1
979     2
980     2
981     1
982     1
983     2
984     2
985     2
986     2
987     3
988     0
989     0
990     1
991     1
992     1
993     1
994     1
995     1
996     1
997     1
998     1
999     1
1000    1
1001    3
1002    3
Name: Hour_of_the_day, Length: 1003, dtype: category
Categories (5, int64): [0, 1, 2, 3, 4]

In [109]:
test = test[['DAY_OF_WEEK','Hour_of_the_day',
 'FAKTOR',
 'BRAND_FLG',
 'WDHL_FLG',
 'SHOW_POSITION',
 'NEW_ITEM_FLG',
 'ADT_FLG',
 'ANZ_ARTIKEL_ID',
 'ONAIR_SEKUNDEN',
 'WGH1_DESC',
 'PREISKLASSE_DESC',
 'MENGE_FREI_SHOWBEGINN',
 "SOLD_OUT_FLG"]]

In [ ]:

training.BRAND_FLG = training.BRAND_FLG .astype("category")

training.BRAND_ID = training.BRAND_IDastype("category")
training.WDHL_FLG = training.WDHL_FLG.astype("category")
training.NEW_ITEM_FLG = df.NEW_ITEM_FLG.astype("category")
training.ADT_FLG = df.ADT_FLG.astype("category")
training.WGH1_DESC = df.WGH1_DESC.astype("category")

In [112]:
test.head(100)
test["FAKTOR"] = test["FAKTOR"].str.replace(',', ".").astype(float)
test.DAY_OF_WEEK =test.DAY_OF_WEEK.astype("category")
test.Hour_of_the_day =test.Hour_of_the_day.astype("category")
test.BRAND_FLG = test.BRAND_FLG.astype("category")
test.WDHL_FLG = test.WDHL_FLG.astype("category")
test.WGH1_DESC = test.WGH1_DESC.map(tranwgh)
test.WGH1_DESC = test.WGH1_DESC.astype("category")
test['PREISKLASSE_DESC']=test['PREISKLASSE_DESC'].str[:2]
test['PREISKLASSE_DESC']=test['PREISKLASSE_DESC'].convert_objects(convert_numeric=True)

D:\anaconda\lib\site-packages\ipykernel_launcher.py:10: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use Series.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  # Remove the CWD from sys.path while we load stuff.

In [114]:
test.NEW_ITEM_FLG = test.NEW_ITEM_FLG.astype("category")
test.ADT_FLG  = test.ADT_FLG .astype("category")

In [115]:
test.info()
training.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1003 entries, 0 to 1002
Data columns (total 14 columns):
DAY_OF_WEEK              1003 non-null category
Hour_of_the_day          1003 non-null category
FAKTOR                   1003 non-null float64
BRAND_FLG                1003 non-null category
WDHL_FLG                 1003 non-null category
SHOW_POSITION            1003 non-null int64
NEW_ITEM_FLG             1003 non-null category
ADT_FLG                  1003 non-null category
ANZ_ARTIKEL_ID           1003 non-null int64
ONAIR_SEKUNDEN           1003 non-null int64
WGH1_DESC                1003 non-null category
PREISKLASSE_DESC         1003 non-null int64
MENGE_FREI_SHOWBEGINN    1003 non-null int64
SOLD_OUT_FLG             0 non-null float64
dtypes: category(7), float64(2), int64(5)
memory usage: 63.5 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6662 entries, 0 to 6661
Data columns (total 14 columns):
DAY_OF_WEEK              6662 non-null category
Hour_of_the_day          6662 non-null category
FAKTOR                   6662 non-null float64
BRAND_FLG                6662 non-null category
WDHL_FLG                 6662 non-null category
SHOW_POSITION            6662 non-null int64
NEW_ITEM_FLG             6662 non-null category
ADT_FLG                  6662 non-null category
ANZ_ARTIKEL_ID           6662 non-null int64
ONAIR_SEKUNDEN           6662 non-null int64
WGH1_DESC                6662 non-null category
PREISKLASSE_DESC         6662 non-null int64
MENGE_FREI_SHOWBEGINN    6662 non-null int64
SOLD_OUT_FLG             6662 non-null category
dtypes: category(8), float64(1), int64(5)
memory usage: 391.2 KB

In [60]:
#test["FAKTOR"] = test["FAKTOR"].str.replace(',', ".").astype(float)
test.DAY_OF_WEEK =test.DAY_OF_WEEK.astype("category")
test.Hour_of_the_day =test.Hour_of_the_day.astype("category")
test.BRAND_FLG = test.BRAND_FLG.astype("category")
test.WDHL_FLG = test.WDHL_FLG.astype("category")
test.WGH1_DESC = test.WGH1_DESC.map(tranwgh)
test.WGH1_DESC = test.WGH1_DESC.astype("category")
#test['PREISKLASSE_DESC']=test['PREISKLASSE_DESC'].str[:2]
#test['PREISKLASSE_DESC']=test['PREISKLASSE_DESC'].convert_objects(convert_numeric=True)

In [117]:
from sklearn.linear_model import LogisticRegression
X, y = training[['DAY_OF_WEEK','Hour_of_the_day',
 'FAKTOR',
 'BRAND_FLG',
 'WDHL_FLG',
 'SHOW_POSITION',
 'NEW_ITEM_FLG',
 'ADT_FLG',
 'ANZ_ARTIKEL_ID',
 'ONAIR_SEKUNDEN',
 'WGH1_DESC',
 'PREISKLASSE_DESC',
 'MENGE_FREI_SHOWBEGINN']], training['SOLD_OUT_FLG']
X.shape


classifier = LogisticRegression()
classifier.fit(X,y)

xtest = test[['DAY_OF_WEEK','Hour_of_the_day',
 'FAKTOR',
 'BRAND_FLG',
 'WDHL_FLG',
 'SHOW_POSITION',
 'NEW_ITEM_FLG',
 'ADT_FLG',
 'ANZ_ARTIKEL_ID',
 'ONAIR_SEKUNDEN',
 'WGH1_DESC',
 'PREISKLASSE_DESC',
 'MENGE_FREI_SHOWBEGINN']]
 
shshhs = classifier.predict(xtest)

In [118]:
print(shshhs)

[1 0 0 ... 1 0 1]

In [119]:
ha = list(shshhs)

In [120]:
niu = pd.read_csv(r'D:\google下载\2_classification_data.csv', encoding='cp1252', engine = "python")
#because test data has been cleaned, so i read test data again, therefor i re-read the data into a new name and combine
list(niu.columns.values)

['OBS_ID',
 'KANAL',
 'SHOW_ID',
 'SHOW_DATUM',
 'FAKTOR',
 'WORDING_ID',
 'BRAND_FLG',
 'BRAND_ID',
 'WDHL_FLG',
 'BESTELL_ID',
 'ARTIKEL_ID',
 'SHOW_POSITION',
 'NEW_ITEM_FLG',
 'AIRING_23_FLG',
 'AIRING_456_FLG',
 'ADT_FLG',
 'WG_ID',
 'WGH1_ID',
 'WGH3_ID',
 'WGH4_ID',
 'PREIS_DISCOUNT',
 'ANZ_ARTIKEL_ID',
 'ONAIR_SEKUNDEN',
 'MENGE_CALL',
 'MENGE_ECOM',
 'WG_DESC',
 'WGH1_DESC',
 'WGH3_DESC',
 'WGH4_DESC',
 'DIVISION_DESC_SORT',
 'PREISKLASSE_DESC',
 'PREIS_LABEL_DESC',
 'FARBE',
 'GROESSE',
 'MENGE_FREI_SHOWBEGINN',
 'BEWERTUNG',
 'SOLD_OUT_FLG']

In [121]:
niu = niu[['OBS_ID',
 'KANAL',
 'SHOW_ID',
 'SHOW_DATUM',
 'FAKTOR',
 'WORDING_ID',
 'BRAND_FLG',
 'BRAND_ID',
 'WDHL_FLG',
 'BESTELL_ID',
 'ARTIKEL_ID',
 'SHOW_POSITION',
 'NEW_ITEM_FLG',
 'AIRING_23_FLG',
 'AIRING_456_FLG',
 'ADT_FLG',
 'WG_ID',
 'WGH1_ID',
 'WGH3_ID',
 'WGH4_ID',
 'PREIS_DISCOUNT',
 'ANZ_ARTIKEL_ID',
 'ONAIR_SEKUNDEN',
 'MENGE_CALL',
 'MENGE_ECOM',
 'WG_DESC',
 'WGH1_DESC',
 'WGH3_DESC',
 'WGH4_DESC',
 'DIVISION_DESC_SORT',
 'PREISKLASSE_DESC',
 'PREIS_LABEL_DESC',
 'FARBE',
 'GROESSE',
 'MENGE_FREI_SHOWBEGINN',
 'BEWERTUNG']]

In [122]:
niu['SOLD_OUT_FLG']=ha

In [123]:
niu.head()

,OBS_ID,KANAL,SHOW_ID,SHOW_DATUM,FAKTOR,WORDING_ID,BRAND_FLG,BRAND_ID,WDHL_FLG,BESTELL_ID,...,WGH3_DESC,WGH4_DESC,DIVISION_DESC_SORT,PREISKLASSE_DESC,PREIS_LABEL_DESC,FARBE,GROESSE,MENGE_FREI_SHOWBEGINN,BEWERTUNG,SOLD_OUT_FLG
0,1,DIG,372896,04.08.2017 09:00:00,1,34013,0,NaN,0,399890,...,WGH-Stufe Marken National,WGH-Stufe Mode,Mode,"05 - 50 bis 74,99",NaN,SCHWARZ,34,12,NaN,1
1,2,ATV,371999,12.08.2017 23:00:00,"1,3",25637,1,12.0,0,399272,...,WGH-Stufe Marken National,WGH-Stufe Mode,Mode,"06 - 75 bis 99,99",NaN,SCHWARZ,46,59,NaN,0
2,3,ATV,371999,12.08.2017 23:00:00,"1,3",25637,1,12.0,0,399272,...,WGH-Stufe Marken National,WGH-Stufe Mode,Mode,"06 - 75 bis 99,99",NaN,MAUVE,44,74,NaN,0
3,4,ATV,371999,12.08.2017 23:00:00,"1,3",25637,1,12.0,0,399687,...,WGH-Stufe Marken National,WGH-Stufe Mode,Mode,"08 - 150 bis 199,99",NaN,SCHWARZ,48,51,NaN,0
4,5,ATV,371999,12.08.2017 23:00:00,"1,3",25637,1,12.0,0,399687,...,WGH-Stufe Marken National,WGH-Stufe Mode,Mode,"08 - 150 bis 199,99",NaN,TAUPE,36,15,NaN,1

In [124]:
niu.to_csv(r'D:\google下载\4questionmarks.csv')